<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books online </title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/submit">Submit Book</a>

        {% if session.get("user_id") %}
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        {% endif %}
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
